[submodule "vendor/submodules/mk-project"]
	path = vendor/submodules/mk-project
	url = https://github.com/mattkeller/mk-project.git
[submodule "vendor/snippets/sclang-mode"]
	path = vendor/snippets/sclang-mode
	url = git@github.com:ptrv/sclang-mode.git
