[submodule "vendor/snippets/sclang-mode"]
        path = vendor/snippets/sclang-mode
        url = https://github.com/ptrv/sclang-mode.git
[submodule "vendor/submodules/yasnippet-snippets"]
    path = vendor/submodules/yasnippet-snippets
    url = https://github.com/ptrv/yasnippet-snippets.git
[submodule "vendor/submodules/auto-complete-auctex"]
    path = vendor/submodules/auto-complete-auctex
    url = https://github.com/monsanto/auto-complete-auctex.git
    ignore = untracked
[submodule "vendor/submodules/clang-complete-async"]
    path = vendor/submodules/clang-complete-async
    url = https://github.com/bodil/emacs-clang-complete-async.git
[submodule "vendor/submodules/emacs-faust-mode"]
    path = vendor/submodules/emacs-faust-mode
    url = https://github.com/ptrv/emacs-faust-mode.git
    ignore = untracked
[submodule "vendor/submodules/emacs-pcomplete-plugins"]
    path = vendor/submodules/emacs-pcomplete-plugins
    url = https://github.com/DamienCassou/emacs-pcomplete-plugins.git
    ignore = untracked
[submodule "vendor/submodules/processing2-emacs"]
    path = vendor/submodules/processing2-emacs
    url = https://github.com/ptrv/processing2-emacs.git
    ignore = untracked
[submodule "vendor/submodules/nyan-mode"]
    path = vendor/submodules/nyan-mode
    url = git://github.com/TeMPOraL/nyan-mode.git
    ignore = untracked
[submodule "vendor/submodules/arduino-mode"]
    path = vendor/submodules/arduino-mode
    url = https://github.com/ptrv/arduino-mode.git
[submodule "vendor/submodules/org2blog"]
    path = vendor/submodules/org2blog
    url = https://github.com/punchagan/org2blog.git
    ignore = untracked
[submodule "vendor/submodules/emacs-jedi"]
    path = vendor/submodules/emacs-jedi
    url = https://github.com/tkf/emacs-jedi.git
    ignore = untracked
[submodule "vendor/submodules/insert-time"]
    path = vendor/submodules/insert-time
    url = https://github.com/rmm5t/insert-time.el.git
    ignore = untracked
[submodule "vendor/submodules/chuck-mode"]
	path = vendor/submodules/chuck-mode
	url = https://github.com/ptrv/chuck-mode.git
[submodule "vendor/submodules/pylookup"]
	path = vendor/submodules/pylookup
	url = https://github.com/tsgates/pylookup.git
[submodule "vendor/submodules/kibit-mode"]
	path = vendor/submodules/kibit-mode
	url = https://github.com/aredington/kibit-mode.git
    ignore = untracked
[submodule "vendor/submodules/4clj-el"]
	path = vendor/submodules/4clj-el
	url = https://github.com/dcluna/4clj-el.git
[submodule "vendor/submodules/ergoemacs"]
	path = vendor/submodules/ergoemacs
	url = https://code.google.com/p/ergoemacs/
[submodule "vendor/submodules/org-present"]
	path = vendor/submodules/org-present
	url = https://github.com/rlister/org-present.git
