[submodule "vendor/submodules/mk-project"]
        path = vendor/submodules/mk-project
        url = https://github.com/mattkeller/mk-project.git
        ignore = untracked
[submodule "vendor/snippets/sclang-mode"]
        path = vendor/snippets/sclang-mode
        url = https://github.com/ptrv/sclang-mode.git
[submodule "vendor/submodules/pandoc-mode"]
    path = vendor/submodules/pandoc-mode
    url = https://github.com/joostkremers/pandoc-mode.git
    ignore = untracked
[submodule "vendor/submodules/yasnippet-snippets"]
    path = vendor/submodules/yasnippet-snippets
    url = https://github.com/ptrv/yasnippet-snippets.git
[submodule "vendor/submodules/auto-complete-auctex"]
    path = vendor/submodules/auto-complete-auctex
    url = https://github.com/monsanto/auto-complete-auctex.git
    ignore = untracked
[submodule "vendor/submodules/clang-complete-async"]
    path = vendor/submodules/clang-complete-async
    url = https://github.com/bodil/emacs-clang-complete-async.git
[submodule "vendor/submodules/emacs-faust-mode"]
    path = vendor/submodules/emacs-faust-mode
    url = https://github.com/ptrv/emacs-faust-mode.git
    ignore = untracked
[submodule "vendor/submodules/emacs-pcomplete-plugins"]
    path = vendor/submodules/emacs-pcomplete-plugins
    url = https://github.com/DamienCassou/emacs-pcomplete-plugins.git
    ignore = untracked
[submodule "vendor/submodules/emacs-iedit"]
    path = vendor/submodules/emacs-iedit
    url = https://github.com/eproxus/emacs-iedit.git
    ignore = untracked
[submodule "vendor/submodules/processing2-emacs"]
    path = vendor/submodules/processing2-emacs
    url = https://github.com/ptrv/processing2-emacs.git
    ignore = untracked
[submodule "vendor/submodules/nyan-mode"]
    path = vendor/submodules/nyan-mode
    url = git://github.com/TeMPOraL/nyan-mode.git
    ignore = untracked
[submodule "vendor/submodules/nxhtml"]
    path = vendor/submodules/nxhtml
    url = https://github.com/emacsmirror/nxhtml.git
    ignore = untracked
[submodule "vendor/submodules/arduino-mode"]
    path = vendor/submodules/arduino-mode
    url = https://github.com/ptrv/arduino-mode.git
[submodule "vendor/submodules/org2blog"]
    path = vendor/submodules/org2blog
    url = http://github.com/punchagan/org2blog.git
    ignore = untracked
[submodule "vendor/submodules/flycheck"]
    path = vendor/submodules/flycheck
    url = https://github.com/lunaryorn/flycheck.git
[submodule "vendor/submodules/Pymacs"]
	path = vendor/submodules/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "vendor/submodules/emacs-jedi"]
	path = vendor/submodules/emacs-jedi
	url = https://github.com/tkf/emacs-jedi.git
